# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular build
dist/
out-tsc/
coverage/
.angular/
.tmp/
tmp/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
